[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Cronograph Station Conky SE
GenericName=Cronograph Conky
Comment=Cronograph Station Conky SE is an amazing good-looking clock that displays your local weather on your desktop
Exec=<home_dir>/.conky/cronograph_se/start_crono.sh
Hidden=false
NoDisplay=false
Icon=cronograph
Type=Application
OnlyShowIn=Unity;GNOME;Cinnamon;KDE;MATE;XFCE;
StartupNotify=
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=unique
X-GNOME-Autostart-Delay=
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MATE-Autostart-enabled=true
X-XFCE-Autostart-Override=true
