[Desktop Entry]
Version=1.0
Name=Cronograph Station Conky BLK
GenericName=Cronograph Conky
Comment=Cronograph Station Conky BLK is an amazing good-looking clock that displays your local weather on your desktop
Exec=<home_dir>/.conky/cronograph_blk/start_crono.sh
Icon=cronograph
Type=Application
Terminal=false
Hidden=false
NoDisplay=false
StartupNotify=true
X-DBUS-ServiceName=
X-DBUS-StartupType=unique
X-GNOME-Autostart-Delay=
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MATE-Autostart-enabled=true
X-XFCE-Autostart-Override=true
OnlyShowIn=Unity;GNOME;Cinnamon;KDE;MATE;XFCE;
